[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
docformatter = "*"
pytest = "==5.3.1"

[packages]
kopf = "==0.23.2"
kubernetes = "==10.0.1"
requests = "==2.22.0"

[requires]
python_version = "3.7"
